body{
    margin: 0;   
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    background-color: rgb(132, 132, 223);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a{
color: white;
text-decoration: none;
font-weight: bolder;
font-size: 18pt;
}
nav a:nth-child(1) {
}
nav a:hover{
    font-size: 18.5pt;
}
header {
    width: 100%;
    height: 500px;
    background-image: url(imagens/beluga.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;  
}
header h1{
    margin-left: 40px;
    color: white;
margin-top: 100px;
}

section{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
}
section div{
      border: 20px solid rgb(132, 132, 223);
      border-radius: 100px;
        width: 200px;
        height: 100%;
        display: flex;
       flex-direction: column; 
       justify-content: space-around;
       align-items: center;
       margin-top: 20px;
}
section div input::placeholder{
    color: black;
    font-size: 10pt;
    font-weight: bold;
}
section div input:focus{
    background-color: rgb(79, 79, 241);
}
section div button{
  border: none;
  border: 1px 
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}